
body{
  background-color: #92a8d1;
}
#circle{
  height: 130px;
  width: 130px;
  background: yellow;
  border-radius: 30px;
  float: left;
  margin-right: 50px;
  display: none;
}

#rounded {
    width: 130px;
    height: 130px;
    border-radius: 25%;
    float: left;
    margin-right: 50px;
    background-color: #5DADE2;
    display: none;
}

#square {
    width: 130px;
    height: 130px;
    border-radius: 0%;
    float: left;
    margin-right: 50px;
    background-color: #58D68D;
    display: none;
}

.buttonClass{
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  position: absolute;
}

a{
  top: 70%;
  left: 50%;
  transform: translate(-30%,-50%);
  position: absolute;
}
